.board {
  display: grid;
  grid-template-columns: repeat(var(--board-columns), var(--size-cell));
  gap: var(--border-width);
  width: fit-content;
  margin: 0 auto;
  background: var(--color-border);
  border: var(--border-width) solid var(--color-border);
}
